<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>The Board</h1>
    <% rows.each do |row| %>
       <% row.each do |cell_presenter| %>
        <%= cell_presenter.print %>
       <% end %>
    <% end %>
    <br/>
    <% if has_ended? %>
      <a href="/">End</a>
    <% end %>
    </form>
  </body>
</html>
