<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>The Board</h1>
    <% rows.each do |row| %>
       <% row.each do |link| %>
         <a href="<%= link %>">foobar</a></br>
       <% end %>
    <% end %>
    </form>
  </body>
</html>
