<h1>The Board</h1>
<div class="game">
  <% rows.each do |row| %>
    <div class="row">
      <% row.each do |cell_presenter| %>
        <div class="cell">
          <%= cell_presenter.print %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<br/>
<% if has_ended? %>
  <a href="/">End</a>
<% end %>

