<h1>The Board</h1>
<div class="pure-g">
  <div class="game">
    <% rows.each do |row| %>
      <div class="row">
        <% row.each do |cell_presenter| %>
          <div class="cell">
            <div class="cell-content">
            <%= cell_presenter.print %>
            </div>
          </div>
        <% end %>
        </div>
    <% end %>
  </div>
  <br/>
</div>
<div class="pure-g">
  <% if has_ended? %>
    <div class="pure-u-1-1">
      <a class="end-button" href="/">End</a>
    </div>
  <% end %>
  <% if has_message? %>
    <div class="message-box">
      <%= message %>
    </div>
  <% end %>
</div>
