<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Choose Players:</h1>
    <form action="/start" method="post">
      <% for type in game_types %>
        <input type="radio" name="first" value="first_value"><%= type %></br>
      <% end %>
      <input type="submit" value="Play!">
    </form>
  </body>
</html>
